* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color-scheme: only light;
    user-select: none;
}

#container{
    position: relative;
    height: 100dvh;
    width: 100dvw;
    background-color: #85002e;
}

#side1{
    position: absolute;
    margin-top: 5dvh;
    margin-left: 2dvw;
    height: 120px;
    width: 320px;

    background-color: transparent;
}

#profile{
    display: flex;
    height: 100%;
    
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 5px;

    border-radius: 10px;
    border-color: #e4c473;
    border-style: solid;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    -webkit-user-drag: none;
}

#idnum{
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 45%;
    
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    color: #e4c473;
}

#back{
    position: absolute;
    bottom: 5dvh;
    left: 3dvw;

    height: 50px;
    width: 220px;

    text-transform: uppercase;
    font-family: 'Georgia', serif;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;

    font-weight: bolder;
    font-size: 20px;

    position: absolute;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;

    cursor: pointer;

    color: rgb(217, 170, 111);
    background-color: rgb(132, 1, 50);
    border-color: rgb(209, 151, 109);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#back:hover{
    background-color: rgb(181, 28, 84);
}

#side2{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100dvh;
    width: 25dvw;
    right: 0;

    padding-left: 5px;

    background-color: #e4c473;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);

    outline-style: solid;
    outline-width: 2px;
    outline-color: #f7ec87;

}

#qr{
    position: absolute;
    width: 24dvw;
    margin-top: 26dvh;
}

#qrtext{
    margin-top: 75dvh;
}

#stats{
    position: absolute;
    height: 140px;
    width: 70dvw;

    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    border-color: #e4c473;

    padding-left: 15px;
    padding-top: 5px;

    top: 190px;
    left: 2dvw;

    font-size: 30px;

    color: #e4c473;
    background-color: #85002e;
}

#played{
    padding-top: 20px;
}

#played, #avg{
    padding-left: 10px;
    font-size: 25px;
    text-decoration: dotted;
}