* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color-scheme: only light;
    user-select: none;
    height: 100dvh;
    width: 100vw;
    background-color: rgb(132, 1, 50);
    position: relative;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    float: right;
    width: 60vw;
    height: 100vh;
}

#logo {
    cursor: pointer;

    position: absolute;
    z-index: 1001;
    width: 100px;
    border-radius: 10px;
    top: 16px;
    left: 10px;

    border-style: solid;
    border-color: #ebe07b;
    border-width: 2px;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    -webkit-user-drag: none;
    /* Safari and Chrome Safari-based engines */
}

#side1 {
    height: 100vh;
    width: 40vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-style: solid;
    border-width: 3px;
    border-color: rgb(209, 151, 109);

    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

#side2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;
}

#press {
    position: absolute;
    text-align: center;
    margin-top: 22vh;
    font-size: 90px;
    width: 400px;

    font-family: 'Georgia', serif;
    font-weight: bold;
    letter-spacing: 4px;
    /* Widens text for a luxury brand aesthetic */
    text-transform: uppercase;
    /* Forces capital letters */

    /* Create a color gradient inside the font */
    background: linear-gradient(45deg, #fffa97, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
}

#picture {
    display: none;
    cursor: pointer;

    width: 30vw;

    margin-top: 2vh;

    float: right;

    border-radius: 20px;
    border-width: 10px;
    border-color: rgb(106, 19, 44);
    border-style: solid;

    outline-width: 2px;
    outline-color: rgb(209, 151, 109);
    outline-style: solid;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);

    -webkit-user-drag: none;
    /* Safari and Chrome Safari-based engines */
}

#full {
    color: rgb(217, 170, 111);
    font-family: 'Georgia', serif;
    margin-bottom: 10px;
    display: none;
}

#picFull {
    position: absolute;
    height: 100vh;
    z-index: 2000;

    -webkit-user-drag: none;
    /* Safari and Chrome Safari-based engines */

    display: none;
}

#dim {
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.833);

    display: none;
}

#submit {
    background-color: rgb(149, 149, 149);
    border-color: rgb(149, 149, 149);
}

#submit,
#submit.active {

    height: 50px;
    width: 25%;
    margin-top: 85vh;

    text-transform: uppercase;
    font-family: 'Georgia', serif;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;

    font-weight: bolder;
    font-size: 20px;
    z-index: 1000;
    /* Places it on top */

    position: absolute;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
    overflow: hidden;

}

#submit.active {
    cursor: pointer;

    color: rgb(217, 170, 111);
    background-color: rgb(132, 1, 50);
    border-color: rgb(209, 151, 109);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


#submit.active:hover {
    background-color: rgb(181, 28, 84);
}

#text1,
#imageCount {
    display: none;
    margin-top: 8px;
    font-family: 'Georgia', serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    /* Widens text for a luxury brand aesthetic */
    text-transform: uppercase;
    /* Forces capital letters */

    /* Create a color gradient inside the font */
    background: linear-gradient(45deg, #fffa97, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    text-align: center;
    width: 400px;

}

.regular,
.golden {
    display: none;

    font-family: 'Georgia', serif;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 4px;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.3));
    text-align: center;
    margin-bottom: 2vh;
    width: 250px;

    margin-right: 60px;
}

.golden {
    background-image: -webkit-linear-gradient(#FFF65C, #3A2C00);
    color: rgb(170, 2, 64);
    border-style: solid;
    border-radius: 20px;
}

.regular {
    color: rgb(217, 170, 111);
}

#scoreDiv {
    display: none;
    justify-content: center;

    position: absolute;
    z-index: 2001;
    width: 30vw;

    height: 60vh;

    background-color: rgb(133, 1, 50);

    border-radius: 20px;
    border-width: 10px;
    border-color: rgb(106, 19, 44);
    border-style: solid;

    outline-width: 2px;
    outline-color: rgb(209, 151, 109);
    outline-style: solid;

    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);

    overflow: hidden;

}

#scoreText1,
#score {
    margin-top: 8px;
    font-family: 'Georgia', serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
    /* Widens text for a luxury brand aesthetic */
    text-transform: uppercase;
    /* Forces capital letters */

    /* Create a color gradient inside the font */
    background: linear-gradient(45deg, #fffa97, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    text-align: center;
    width: 200px;
}

#score {
    margin-top: 15vh;
    position: absolute;
    font-size: 95px;
    width: 25vw;
}

#perfect {
    position: absolute;
    margin-top: 36vh;

    font-family: 'Georgia', serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
    width: 410px;
    height: 55px;

    background-image: -webkit-linear-gradient(#FFF65C, #3A2C00);
    color: rgb(170, 2, 64);
    border-style: solid;
    border-radius: 10px;

    padding-top: 8px;

    text-align: center;
}

#again {
    position: absolute;
    margin-top: 48vh;

    height: 50px;
    width: 170px;

    text-transform: uppercase;
    font-family: 'Georgia', serif;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;

    font-weight: 800;
    font-size: 20px;

    cursor: pointer;

    color: rgb(217, 170, 111);
    background-color: rgb(132, 1, 50);
    border-color: rgb(209, 151, 109);

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

#again:hover {
    background-color: rgb(181, 28, 84);

}

#imageCount {
    position: absolute;
    margin-left: 32vw;
    margin-top: 4vh;
    width: 100px;
}

#rotate {
    display: none;
    z-index: 2500;
    width: 100dvw;
    height: 100dvh;

    justify-content: center;
}

#rotateText {
    margin-top: 45dvh;

    /* Create a color gradient inside the font */
    background: linear-gradient(45deg, #fffbab, #d55177);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 30px;
    text-align: center;
}

@media (orientation: landscape) and (max-height: 500px) {
    #rotate {
        display: flex;
    }
}

@media (max-width: 768px) {
    /* styles that only apply on mobile */

    * {}

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        top: 10px;
        width: 80px;
    }

    #map {
        float: right;
        width: 100vw;
        height: 0vh;
    }

    #text1 {
        font-size: 5dvw;
        width: 60dvw;
        margin-right: 36dvw;
        margin-top: 11dvh;
    }

    #press {
        font-size: 70px;
        width: 95dvw;
    }

    #picture {
        top: 0;
        right: 18px;
        position: absolute;
        margin-left: 200px;
        height: 20vh;

    }

    #side1 {
        width: 100vw;
        height: 100dvh;

        border-style: solid;
        border-width: 3px;
        border-color: rgb(209, 151, 109);

        border-right: 0px;
        border-left: 0px;
        border-top: 0px;
    }

    #submit,
    #submit.active {
        position: absolute;
        margin-top: 0;
        top: -20dvh;
        width: 220px;
    }

    #full {
        position: absolute;
        text-align: center;
        width: 100px;
        right: 6.5dvw;
        top: 25dvh;

        font-size: 12px;
    }

    #imageCount {
        position: absolute;
        margin-top: 1dvh;
        left: 0;
        font-size: 40px;

    }

    #picFull {
        width: 100vw;
        height: 65dvh;

    }

    #result,
    .golden {
        position: absolute;
        width: 200px;
        font-size: 50px;
        margin-right: 34dvw;
        margin-top: 20dvh;
    }

    #scoreDiv {
        height: 60dvh;
        width: 90dvw;
    }

    #score {
        font-size: 60px;
        width: 80dvw;
    }

    #perfect {
        width: 290px;
        font-size: 22px;
        margin-top: 30dvh;
    }

    #again {
        margin-top: 42dvh;
    }
}