* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-user-drag: none;


    /* outline-style: solid;
    outline-width: 1px;
    outline-color: red; */
}

*:focus {
    outline: none;
}

body {
    color-scheme: only light;
    user-select: none;
    height: 100dvh;
    width: 100vw;
    background-color: rgb(132, 1, 50);
    position: relative;
}

#container {
    display: none;
    justify-content: center;
    align-items: center;
}

#container2 {
    display: none;
    justify-content: center;
}

#map {
    float: right;
    width: 61vw;
    height: 100vh;
}

#logo {
    cursor: pointer;

    position: absolute;
    z-index: 1005;
    width: 14dvh;
    border-radius: 10px;
    top: 16px;
    left: 10px;

    border-style: solid;
    border-color: #ebe07b;
    border-width: 2px;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    -webkit-user-drag: none;
    /* Safari and Chrome Safari-based engines */
}

#logo:hover {
    box-shadow: none;
}

#side1 {
    height: 100vh;
    width: 39vw;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-style: solid;
    border-width: 3px;
    border-color: rgb(209, 151, 109);

    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

#side2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;
}

#press {
    position: absolute;
    text-align: center;
    margin-top: 18vh;
    font-size: 12dvh;
    width: 60dvh;

    font-family: 'Georgia', serif;
    font-weight: bold;
    letter-spacing: 0.3dvw;
    /* Widens text for a luxury brand aesthetic */
    text-transform: uppercase;
    /* Forces capital letters */

    /* Create a color gradient inside the font */
    background: linear-gradient(45deg, #fffa97, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 0.3dvw rgba(0, 0, 0, 1));
}

#picture {

    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;

    display: none;

    width: 30vw;
    max-width: 62dvh;
    height: 100%;

    border-radius: 20px;
    border-width: 10px;
    border-color: rgb(106, 19, 44);
    border-style: solid;

    outline-width: 2px;
    outline-color: rgb(209, 151, 109);
    outline-style: solid;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);

    -webkit-user-drag: none;
    /* Safari and Chrome Safari-based engines */
}

#picture:hover {
    box-shadow: none;
}

#picWrap {
    justify-content: center;
    display: none;

    z-index: 1200;
    cursor: pointer;
    height: 40vw;
    width: 30vw;
    margin-top: 2vh;
    margin-left: 4dvw;
    margin-bottom: 5px;

    float: right;
}

#full {
    color: rgb(217, 170, 111);
    font-family: 'Georgia', serif;
    margin-bottom: 10px;
    margin-left: 3dvw;
    display: none;
}

#picFull {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;

    position: absolute;
    height: 100vh;
    z-index: 2000;

    display: none;
}

#dim {
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.8);

    display: none;
}

#submit {
    background-color: rgb(149, 149, 149);
    color: black;
    border-color: rgb(149, 149, 149);
    text-decoration: none;
}

#submit,
#submit.active {

    height: 50px;
    width: 20dvw;
    margin-top: 85vh;

    text-transform: uppercase;
    font-family: 'Georgia', serif;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;

    font-weight: bolder;
    font-size: 1.4dvw;
    z-index: 1000;
    /* Places it on top */

    position: absolute;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}

#submit.active {
    cursor: pointer;

    color: rgb(217, 170, 111);
    background-color: rgb(132, 1, 50);
    border-color: rgb(209, 151, 109);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


#submit.active:hover {
    background-color: rgb(181, 28, 84);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.1);
}

#text1,
#imageCount {
    display: none;
    margin-top: 12px;
    margin-left: 3dvw;
    font-family: 'Georgia', serif;
    font-size: 1.5dvw;
    font-weight: bold;
    letter-spacing: 4px;
    /* Widens text for a luxury brand aesthetic */
    text-transform: uppercase;
    /* Forces capital letters */

    /* Create a color gradient inside the font */
    background: linear-gradient(45deg, #fffa97, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    text-align: center;
    width: 22dvw;

}

#text1 {
    margin-left: 5dvw;
}

#imageCount {
    font-size: 2dvw;
}

.regular,
.golden {
    display: none;

    font-family: 'Georgia', serif;
    font-size: 6dvw;
    font-weight: bold;
    letter-spacing: 4px;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
    text-align: center;
    margin-bottom: 2vh;
    width: 20dvw;
    margin-left: 4dvw;

}

.golden {
    background-image: -webkit-linear-gradient(#FFF65C, #3A2C00);
    color: rgb(170, 2, 64);
    border-style: solid;
    border-radius: 20px;
}

.regular {
    color: rgb(217, 170, 111);
}

#scoreDiv,
#diffDiv,
#hintDiv,
#invite,
#deleteDiv {
    display: none;
    justify-content: center;

    position: absolute;
    z-index: 2001;
    width: 30vw;

    height: 60vh;

    background-color: rgb(133, 1, 50);

    border-radius: 20px;
    border-width: 10px;
    border-color: rgb(106, 19, 44);
    border-style: solid;

    outline-width: 2px;
    outline-color: rgb(209, 151, 109);
    outline-style: solid;

    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.1);

    overflow: hidden;
}

#hintDiv {
    height: 30dvh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#deleteDiv{
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 33dvh;
    height: 30dvh;
}

#deleteText1{
    text-align: center;
    align-self: center;
    color: #e2c072;
    width: 60%;
    font-size: 3dvh;
    font-weight: 600;
}

#scoreText1,
#score {
    margin-top: 8px;
    font-family: 'Georgia', serif;
    font-size: 3dvw;
    font-weight: bold;
    letter-spacing: 4px;
    /* Widens text for a luxury brand aesthetic */
    text-transform: uppercase;
    /* Forces capital letters */

    /* Create a color gradient inside the font */
    background: linear-gradient(45deg, #fffa97, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    text-align: center;
    width: 20dvw;
}

#score {
    margin-top: 17vh;
    position: absolute;
    font-size: 6dvw;
    width: 25vw;
}

#perfect {
    position: absolute;
    margin-top: 36vh;

    font-family: 'Georgia', serif;
    font-size: 2dvw;
    font-weight: bold;
    letter-spacing: 2px;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
    width: 25dvw;
    height: 60px;

    background-image: -webkit-linear-gradient(#FFF65C, #3A2C00);
    color: rgb(170, 2, 64);
    border-style: solid;
    border-radius: 10px;

    padding-top: 8px;

    text-align: center;
}

#again,
#share {
    position: absolute;
    bottom: 20px;

    height: 50px;
    width: 40%;

    text-transform: uppercase;
    font-family: 'Georgia', serif;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;

    font-weight: 800;
    font-size: 1.4dvw;

    cursor: pointer;

    color: rgb(217, 170, 111);
    background-color: rgb(132, 1, 50);
    border-color: rgb(209, 151, 109);

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

#again:hover {
    background-color: rgb(181, 28, 84);

}

#share {
    font-size: 1dvw;
    width: 16%;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 6px;

    box-shadow: none;
    text-shadow: none;

    font-family: system-ui, sans-serif;

    font-weight: 500;

    color: rgb(192, 18, 82);
    background-color: #74052b;
}

#share:hover {
    background-color: #5d041d;

}

#imageCount {
    position: absolute;
    margin-left: 32vw;
    margin-top: 4vh;
    width: 120px;
}

#rotate {
    display: none;
    z-index: 2500;
    width: 100dvw;
    height: 100dvh;

    position: fixed;

    background-color: rgb(132, 1, 50);

    justify-content: center;
}

#rotateText {
    margin-top: 45dvh;

    /* Create a color gradient inside the font */
    background: linear-gradient(45deg, #fffbab, #d55177);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 30px;
    text-align: center;
}

#profileButton {
    position: absolute;
    left: 2.6dvh;
    bottom: 2dvh;
    background-color: #85002e;

    border-radius: 10px;
    border-style: solid;
    border-color: #e4c473;
    border-width: 2px;

    width: 8dvh;

    z-index: 1000;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#profileButton:hover {
    cursor: pointer;
    background-color: rgb(181, 28, 84);
    box-shadow: none;
    padding: 4px;
}

#Aside1 {
    position: absolute;
    margin-top: 14dvh;
    left: 3dvw;
    height: 120px;
    width: 68dvw;

    background-color: transparent;
}

#profile {
    display: flex;
    height: 100%;

    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 5px;

    border-radius: 10px;
    border-color: #e4c473;
    border-style: solid;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    -webkit-user-drag: none;
}

#idnum, #profileName {
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 150px;
    width: 300px;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    color: #e4c473;
}

#idnum{
    margin-top: 50px;
}

#delete, #confirm, #logout{
    top: 14dvh;
    right: 28dvw;
    z-index: 100;
    position: absolute;
    padding: 8px;
    background-color: #e2c072;
    border-style: solid;
    border-color: #f7ec87;
    color: #720028;
    border-width: 2px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 2dvh;
}

#logout{
    display: none;
    margin-top: 50px;
}

#delete{

    display: none;
}

#confirm{
    position: relative;
    align-self: center;
    top: 0;
    right: 0;
    width: 30%;
}

#delete:hover, #confirm:hover, #logout:hover{
    cursor: pointer;
    background-color: #c40000;
    border-color: #ad0000;
    color: #ffffff;
}

#back {
    position: absolute;
    bottom: 5dvh;
    left: 3dvw;

    height: 50px;
    width: 220px;

    text-transform: uppercase;
    font-family: 'Georgia', serif;

    border-radius: 15px;
    border-width: 2px;
    border-style: solid;

    font-weight: bolder;
    font-size: 20px;

    position: absolute;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    cursor: pointer;

    color: rgb(217, 170, 111);
    background-color: rgb(132, 1, 50);
    border-color: rgb(209, 151, 109);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#back:hover {
    background-color: rgb(181, 28, 84);
}

#Aside2 {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100dvh;
    width: 25dvw;
    right: 0;

    padding-left: 5px;

    background-color: #e2c072;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);

    border-style: solid;
    border-width: 2px;
    border-color: #f7ec87;

}

#qr {
    position: absolute;
    width: 24dvw;
    max-width: 50dvh;
    margin-top: 26dvh;
}

#qrtext {
    margin-top: 76dvh;
    font-size: 2dvh;
}

#stats {
    position: absolute;
    height: 140px;
    width: 70dvw;

    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    border-color: #e4c473;

    padding-left: 15px;
    padding-top: 5px;

    top: 35dvh;
    left: 2dvw;

    font-size: 30px;

    color: #e4c473;
    background-color: #85002e;
}

#played {
    padding-top: 20px;
}

#played,
#avg {
    padding-left: 10px;
    font-size: 25px;
    text-decoration: dotted;
}

#overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100dvh;
    width: 100dvw;

    background-color: #85002e;

    z-index: 10;
}

#signin {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 12dvh;
    position: absolute;

    height: 530px;
    width: 400px;

    background-color: #85002e;

    border-radius: 30px;
    border-width: 4px;
    border-color: #e4c473;
    border-style: solid;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);

    z-index: 15;

    text-align: center;
    padding-top: 15px;
}

#enter {
    align-self: center;
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Georgia', serif;
    font-weight: bold;

    width: 80%;

    color: #e4c473;

    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);

    text-decoration: underline;
}

#inputDiv, #nameDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;

    margin-top: -70%;
}

#input, #name {
    position: absolute;
    right: 0;
    margin-right: 30px;
    background-color: #6c0026;
    color: #e4c473;

    width: 61.8%;
    height: 40px;

    border-color: #e4c473;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 10px 10px 0px 0px;

    font-size: 18px;

    padding: 15px;
}
#input:focus, #name:focus {
    outline: none;
    /* Removes the default browser ring */
}

#input.invalid::placeholder, #name.invalid::placeholder {
    color: rgb(239, 0, 0);
}

#id, #username {
    margin-top: 8px;
    font-size: 20px;
    margin-left: 80px;

    color: #e4c473;
}

#username{
    margin-left: 20px;
    margin-top: 6px;
}

#having{
    align-self: center;
    position: absolute;
    margin-top: 75%;
    width: 70%;

    color: rgb(93, 16, 37);

    font-size: 140%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

#or {
    align-self: center;
    position: absolute;
    width: 80%;
    bottom: 50px;

    color: #e4c473;
    border-style: solid;

    border-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 2px;

}

#guest {
    margin-bottom: 16px;
    color: #e4c473;
    font-size: 20px;
}

#guest:hover {
    cursor: pointer;
    text-decoration: underline;
}

#check{
    position: absolute;
    align-self: center;
    margin-top: 50%;

    width: 100px;
    height: 40px;

    background-color: #f5d27a;
    border-style: solid;
    border-width: 4px;
    border-color: #f5d27a;
    z-index: 10;
    border-radius: 10px;
    opacity: 0.6;
}

#modeSelect {
    position: absolute;
    display: flex;
    width: 18dvw;
    height: 45px;
    bottom: 11dvh;
    margin-right: 3dvw;
}

#single {
    position: absolute;
    width: 57%;
    border-radius: 20px 0px 0px 20px;
}

#multi {
    position: absolute;
    width: 42%;
    right: 0;
    border-radius: 0px 20px 20px 0px;
    opacity: 0.5;
}

#single,
#multi {
    background-color: #ad003d;
    height: 100%;
    padding-top: 1.4dvh;

    text-align: center;

    font-size: 1.1dvw;
    font-weight: bold;

    border-style: solid;
    border-width: 2px;
    border-color: #e2c072;
    color: #e2c072;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#single:hover,
#multi:hover {
    cursor: pointer;
    background-color: #b01048;
    box-shadow: none;
}

#mode {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 85dvh;
    width: 30dvw;
    bottom: 0;
}

#modeText {
    position: absolute;
    color: #e9c986;
    font-size: 20px;
    align-self: center;
    text-align: center;
    margin-top: 100px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#diff {
    position: absolute;

    height: 30px;
    width: 6dvw;

    bottom: 11.8dvh;
    margin-left: 24dvw;

    background-color: #960035;

    font-size: 1dvw;
    font-weight: bold;
    letter-spacing: 1px;

    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #e2c072;
    color: #e9c986;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);

}

#diff:hover {
    cursor: pointer;
    background-color: #b01048;
    box-shadow: none;
}

#diffDiv {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#inverted,
#blurry,
#mirrored,
#twoSec,
#useHint {
    font-weight: bold;
    font-size: 2.5dvh;
    height: 4dvh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #920033;
    color: #e2c072;
    border-style: solid;
    border-color: #e2c072;
    border-radius: 10px;
}

#inverted:hover,
#blurry:hover,
#twoSec:hover,
#mirrored:hover,
#useHint:hover {
    background-color: #b4003f;
}

.blur {
    filter: blur(0.8dvh);
}

.invert {
    filter: invert(1);
}

.blur.invert {
    filter: blur(0.5dvh) invert(1);
}

.mirrored {
    transform: scaleX(-1);
}

#diff-apply {
    color: #5d0020;
    font-weight: bold;
    font-size: 1.2dvw;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hate,
#hintText1,
#inviteText1 {

    margin-top: -20px;
    font-family: 'Georgia', serif;
    font-size: 3dvh;
    font-weight: bold;
    letter-spacing: 4px;
    /* Widens text for a luxury brand aesthetic */
    text-transform: uppercase;
    /* Forces capital letters */

    /* Create a color gradient inside the font */
    background: linear-gradient(90deg, #fffa97, #d25377);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    text-align: center;
    width: 90%;
}

#hintText1 {

    margin-top: 0;
    text-transform: none;
    letter-spacing: 0px;

    padding-top: 2dvh;
    width: 95%;
    font-size: 3dvh;
}

#invite {
    height: 30dvh;
}

#inviteText1 {
    margin-top: 4dvh;
    text-transform: none;
    letter-spacing: 0px;
}

#startGame {
    position: absolute;
    height: 20%;
    width: 12dvw;

    border-style: solid;
    border-radius: 10px;

    font-size: 2.5dvh;
    font-weight: bold;

    margin-top: 15dvh;


    color: rgb(217, 170, 111);
    background-color: rgb(148, 2, 55);
    border-color: rgb(209, 151, 109);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#startGame:hover {
    background-color: rgb(171, 0, 63);
    text-shadow: none;
    cursor: pointer;
}

#codeDiv {
    display: none;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    height: 68dvh;
    width: 34dvw;
    bottom: 160px;
}

#codeOutput {
    position: absolute;
    width: 30%;

    height: 40px;
    border-style: solid;

    font-size: 12px;

    padding: 8px;

    margin-left: 10dvw;
    margin-top: 38dvh;
    background-color: rgb(55, 55, 55);
    color: #dddddd;
    border-color: #a2a2a2;
    border-radius: 5px;

    pointer-events: none;
}

#codeOutput:focus {
    outline: none;
    /* Removes the default browser ring */
}

#sendCode {
    align-self: center;
    color: #e9c986;
    font-size: 3dvw;
    margin-top: 28dvh;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#copy {
    position: absolute;
    width: 40px;
    margin-top: 38dvh;
    margin-left: 21dvw;
    border-radius: 10px;
}

#copy:hover {
    cursor: pointer;
    background-color: #ad003d;
    padding: 4px;
}

#hint,
#leader {
    display: none;

    position: absolute;
    left: 3.7dvh;
    bottom: 12dvh;
    background-color: #85002e;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #e4c473;
    padding-bottom: 2px;

    width: 6dvh;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

#leader {
    display: flex;
    bottom: 0;
    width: 6dvh;
    height: 6dvh;
    top: 12dvh;
    left: 2dvh;
}

#hint:hover,
#leader:hover {
    cursor: pointer;
    background-color: #b3003f;
    box-shadow: none;
    padding: 4px;
}

#useHint {
    margin-bottom: 5dvh;
    font-weight: bold;
}

#canvas {
    position: absolute;
    margin-left: -9999px;
    display: none;
    justify-content: center;
    width: 800px;
    height: 800px;
    background-color: #85002e;
}

#canvasYellow {
    width: 720px;
    height: 720px;
    background-color: #e2c072;
    margin-top: 40px;
    border-radius: 14px;
}

#iGot,
#summary {
    text-align: center;
    color: #85002e;
    font-family: system-ui, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    font-size: 50px;
}

#summary {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
}

#canvasPics {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    height: 200px;
}

#pic {
    margin-left: 18px;
    width: 17%;
    height: 100%;
}

#smallPic0,
#smallPic1,
#smallPic2,
#smallPic3,
#smallPic4 {
    width: 100%;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: #85002e;
}

#picScore {
    text-align: center;
    color: #85002e;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

#canvasBottom {
    margin-top: 30px;
    width: 100%;
    height: 340px;
}

#canvasQR {
    margin-left: 16px;
    height: 270px;
}

#canYou {
    position: absolute;
    text-align: center;
    font-size: 60px;
    margin-left: 340px;
    top: 500px;
    width: 330px;

    font-family: 'Georgia', serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #85002e;
}

#leaderDiv {
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0;
    z-index: 1600;
    background-color: #74052b;
    border-radius: 30px 0px 0px 30px;
    border-style: solid;
    border-width: 4px;
    border-color: #990d3e;
    height: 100%;
    width: 50%;
}

#leaderText1 {
    align-self: center;
    text-align: center;
    color: #a3063d;
    font-family: system-ui, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 4dvh;
    font-size: 3dvw;
    width: 45%;


    text-transform: uppercase;
    /* Forces capital letters */

    /* Create a color gradient inside the font */
    background: linear-gradient(90deg, #fffa97, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 0.3dvw rgba(0, 0, 0, 0.5));
}

#leader1,
#leader2,
#leader3,
#leader4,
#leader5 {
    background-color: #920033;
    color: #e2c072;
    font-family: system-ui, sans-serif;
    font-weight: 600;
    margin-top: 2dvh;
    margin-left: 2.5dvw;
    padding-left: 1dvw;
    font-size: calc(1.4dvw + 1dvh);
    height: 6dvh;
    width: 90%;
    border-radius: 1dvh;

    /* Adds a smooth drop shadow underneath */
    filter: drop-shadow(2px 2px 0.3dvw rgba(0, 0, 0, 0.5));
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    border-style: solid;
    border-width: 0.2dvh;
    border-color: #ac0c44;
}

#leader1 {
    color: #85002e;
    background-image: -webkit-linear-gradient(#fff86d, #755b06);
    filter: drop-shadow(0px 0px 0.3dvw rgba(255, 255, 255, 0.3));
    text-shadow: none;
    border-color: #674f00;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.pulse-marker {
    animation: pulse 1.5s infinite;
}

@media (orientation: landscape) and (max-height: 500px) and (max-width: 768px) {
    #rotate {
        display: flex;
    }
}

@media (max-width: 768px) {
    /* styles that only apply on mobile */

    *{
    }

    #body {
        user-select: none;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        top: 10px;
        width: 12dvh;
    }

    #map {
        float: right;
        width: 100vw;
        height: 0vh;
    }

    #text1 {
        font-size: 4dvw;
        width: 60dvw;
        margin-right: 38dvw;
        margin-top: 11dvh;
    }

    #press {
        font-size: 60px;
        width: 95dvw;
        margin-top: 20dvh;
    }

    #picture {
        height: 100%;

        border-width: 5px;
        border-radius: 10px;
    }

    #picWrap {
        top: 0;
        right: 18px;
        position: absolute;
        margin-left: 200px;
        height: 20vh;
    }

    #side1 {
        width: 100vw;
        height: 100dvh;

        border-style: solid;
        border-width: 3px;
        border-color: rgb(209, 151, 109);

        border-right: 0px;
        border-left: 0px;
        border-top: 0px;
    }

    #submit,
    #submit.active {
        position: absolute;
        margin-top: 0;
        top: -12dvh;
        margin-left: 20dvw;
        width: 60dvw;
        font-size: 4dvw;
    }

    #full {
        position: absolute;
        text-align: center;
        width: 100px;
        right: 7dvw;
        top: 25dvh;

        font-size: 12px;
    }

    #imageCount {
        position: absolute;
        margin-top: 1dvh;
        left: -16px;
        font-size: 40px;

    }

    #picFull {
        width: 100vw;
        height: 65dvh;

    }

    #result,
    .golden {
        position: absolute;
        width: 200px;
        font-size: 12dvw;
        margin-right: 34dvw;
        margin-top: 20dvh;
    }

    #scoreDiv {
        height: 60dvh;
        width: 90dvw;
    }

    #score {
        font-size: 18dvw;
        margin-top: 14dvh;
        width: 80dvw;
    }

    #scoreText1 {
        font-size: 9dvw;
        width: 65dvw;
    }

    #perfect {
        width: 80dvw;
        font-size: 6dvw;
        height: 8dvh;
        margin-top: 30dvh;
    }

    #again {
        bottom: 30px;
        font-size: 4dvw;
    }

    #share {
        font-size: 4dvw;
        width: 20%;
    }

    #share:hover {
        font-size: 3dvw;
    }

    #overlay {
        z-index: 1002;
    }

    #signin {
        width: 280px;
        height: 400px;
    }

    #enter {
        font-size: 2dvh;
    }

    #inputDiv, #nameDiv{
        margin-top: -64%;
    }

    #input, #name {
        width: 55%;
        font-size: 13px;
        margin-right: 20px;
    }

    #id{
        margin-left: 64px;
    }

    #username{
        margin-top: 8px;
        margin-left: 10px;
        font-size: 16px;
    }

    #check {
        height: 30px;
        margin-top: 60%;
        opacity: 0.6;
    }

    #having{
        font-size: 12px;
        margin-top: 85%;
        font-family: system-ui, sans-serif;
    }

    #Aside1 {
        height: 12dvh;
        width: 88dvw;
        margin-top: 11dvh;
        margin-left: 5dvw;
    }

    #idnum {
        font-size: 16px;
        left: 115px;
        width: 60%;
    }
    
    #profileName {
        font-size: 16px;
        left: 115px;
        width: 60%;
    }

    #stats {
        font-size: 18px;
        height: 100px;
        top: 28dvh;
        margin-left: 2dvw;
        width: 92%;
    }

    #played,
    #avg {
        font-size: 16px;
    }

    #Aside2 {
        height: 36dvh;
        top: 48dvh;
        width: 64dvw;
    }

    #qr {
        width: 54dvw;
        max-width: 28vh;
        margin-top: 20px;
    }

    #qrtext {
        margin-top: 31dvh;
    }

    #back {
        left: 6dvw;
        bottom: 4dvh;
    }

    #single,
    #multi {
        padding-top: 1.4dvh;
        font-weight: normal;
        font-size: 4dvw;
    }

    #modeSelect {
        width: 70dvw;
        height: 12dvw;
    }

    #mode {
        margin-bottom: 60px;
        height: 76dvh;
        width: 80dvw;
    }

    #modeText {
        font-size: 5dvw;
        margin-top: 40px;
    }

    #codeDiv {
        height: 50dvh;
        width: 90dvw;
    }

    #sendCode {
        font-size: 7dvw;

        margin-left: 0;
        margin-top: 150px;
        align-self: center;
    }

    #codeOutput {
        align-self: center;
        margin-top: 200px;
        margin-left: 0;
        width: 40dvw;
        font-size: 14px;
    }

    #copy {
        width: 40px;
        margin-top: 200px;
        margin-left: 67dvw;
    }

    #startGame {
        margin-top: 100px;
        width: 60%;
    }

    #diff {
        position: absolute;
        width: 30dvw;
        right: 0;
        margin-bottom: 70dvh;

        font-size: 4dvw;
    }

    #diffDiv {
        width: 86%;
    }

    #hint {
        z-index: 500;
    }

    #hintText1 {
        margin-top: 10px;
        font-size: 4dvw;
    }

    #hintDiv {
        width: 90%;
    }

    .blur {
        filter: blur(0.6dvh);
    }

    #invite {
        width: 90%;
    }

    #diff-apply {
        font-size: 12px;
        letter-spacing: 1px;
    }

    #leader {
        top: 10dvh;
    }

    #leaderDiv {
        right: auto;
        border-radius: 30px 30px 0px 0px;
        width: 100%;
        height: 70%;
        bottom: 0;
    }

    #leader1,
    #leader2,
    #leader3,
    #leader4,
    #leader5 {
        margin-top: 2dvh;
        margin-left: 4dvw;
        padding-left: 3dvw;
        font-size: 1.6dvh;
        height: 4dvh;
        padding-top: 6px;
    }

    #leader1{
        border-width: 0.2dvh;
    }

    #leaderText1{
        font-size: 6dvw;
        margin-bottom: 10px;
    }

    #delete, #logout{
        top: 14px;
        right: 14px;
        font-size: 1.4dvh;
    }

    #logout{
        margin-top: 0;
        margin-right: 30dvw;
    }

    #deleteDiv{
        width: 90%;
    }

    #deleteText1{
        width: 90%;
        font-size: 5dvw;
    }
}